@body-background: #eafafc;

html, body {
  background: @body-background;
  font-family: @font-family;
}

.left-column {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid rgba(0,0,0,0.1);
}
